* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#tamanhotela{
    height: 100vh;
}
#cabecalho{
    background-color: rgb(255, 222, 123);
    padding: 10px;
    height: 10vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#container {
    background-color: rgb(192, 116, 45);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
 

}
#container *{
    margin: 5px;
}
#rodape{
    display: flex;
    background-color: rgb(255, 222, 123);
    flex-direction: column;
    text-align: center;
    height: 10vh;
}
#central div{
    text-align: center;
}
input{
    text-align: center;
    padding: 13px;
    height: 15px;
    border-radius: 5px;
    border: none;
}
#favo{
    display: flex;
    align-items: center;
    cursor: pointer;/*

}
#favo svg{
    margin-right: -6px;/*margen direita*/
}
#cabecalhocarrinho{
    display: flex;
    gap: 25px;
    margin-right: 40px;

}
#colmeia{
    display: flex;
    align-items: center;
    
}
#colmeia svg{
    margin-left: 10px;
    
}
#container button{
    background-color: black;
    color: white;
    padding: 10px;
    padding-left: 150px;
    padding-right: 150px;


}
#container button:hover{
    background-color: gray;

}
#cabecalhocarrinho h3{
    cursor: pointer;
}

