* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#tamanhotela{
    height: 100vh;
}
#cabecalho{
    background-color: rgb(255, 222, 103);
    padding: 10px;
    height: 10vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#container {
    background-color: rgb(192, 116, 45);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
 

}
#container *{
    margin: 5px;
}
#footer{
    background-color: rgb(255, 222, 103);
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bolder;
}
#central div{
    text-align: center;
}
input{
    text-align: center;
    padding: 13px;
    height: 15px;
    border-radius: 5px;
    border: none;
}
#favo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
#header{
    background-color: rgb(255, 222, 103);
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#topoTitulo{
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    cursor: pointer;
    transition: ease-in-out 300ms;
    font-weight: bolder;
}
#topoTitulo svg{
    margin-right: -0.38rem; 
}
#topoTitulo:hover{
    transform: scale(1.1);
    transition: ease-in-out 300ms;
}
#topoBotoes{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 4rem;
}
.botoes{
    cursor: pointer;
    transition: ease-in-out 300ms;
    font-weight: bolder;
    font-size: 1.2rem;
}
.botoes:hover{
    transform: scale(1.1);
    transition: ease-in-out 300ms;
}
#carrinho{
    display: flex;
    align-items: center;
}
#container button{
    background-color: black;
    color: white;
    padding: 10px;
    padding-left: 75px;
    padding-right: 75px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
#container button:hover{
    background-color: gray;

}
#cabecalhocarrinho h3{
    cursor: pointer;
}

