*{
    margin: 0;
    padding: 0;
}
#section{
    height: 100vh;
    color: rgb(255, 222, 103);
}
#header{
    background-color: rgb(44, 44, 44);
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#topoTitulo{
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
    cursor: pointer;
    transition: ease-in-out 300ms;
    font-weight: bolder;
}
#topoTitulo svg{
    margin-right: -0.38rem; 
}
#topoTitulo:hover{
    transform: scale(1.1);
    transition: ease-in-out 300ms;
}
#meio{
    display: flex;
    justify-content: center;
    background-image: url(https://wallpapercave.com/wp/wp2269722.jpg);
    background-size: cover;
    height: 80%;
}
#produtos{
    width: 70%;
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    backdrop-filter: blur(8px);
    padding: 3rem;
    border-radius: 1rem;
    border: 1px rgba(255, 255, 255, 0.70) solid;
    flex-shrink: 1;
    overflow-y: auto;
    scrollbar-width: none;
}
.produto{
    width: 27%;
    background-color: rgb(32, 32, 32) ;
    padding: 1rem;
    border: solid 0.2rem black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
    border-radius: 1rem;
    text-align: center;
}
.produto img{
    width: 100%;
    height: auto;
    max-height: 15rem;
    border: solid 0.2rem black;
    border-radius: 1rem;
}
.produto p{
    font-size: 1.5rem;
    font-weight: bolder;
}
.produto button{
    border: none;
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: rgb(255, 222, 103);
    cursor: pointer;
    display: flex;
    align-items: center;
}
.produto button:active{
    transform: translateY(2px);
    background-color: rgb(250, 223, 125);
}
.produto div{
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}
.produto input{
    width: 20%;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.5rem;
    border: solid 0.1rem black;
}
.produto p{
    font-size: 1.1rem;
}
#footer{
    background-color: rgb(44, 44, 44);
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}
#topoBotoes{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 4rem;
}
.botoes{
    cursor: pointer;
    transition: ease-in-out 300ms;
    font-weight: bolder;
    font-size: 1.2rem;
}
.botoes:hover{
    transform: scale(1.1);
    transition: ease-in-out 300ms;
}
#footer{
    display: flex;
    flex-direction: column;
    font-weight: bolder;
}
#carrinho{
    display: flex;
    align-items: center;
}
#cadastroProdutos{
    display: none;
}
#divPesquisar{
    display: flex;
    justify-content: center;
    align-items: center;
}
#divPesquisar svg{
    cursor: pointer;
}
#divPesquisar input{
    font-size: 1.2rem;
}
#modalCarrinho{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    display: none;
    z-index: 1;
    justify-content: right;
}
#conteudoCarrinho{
    height: 100%;
    width: 30%;
    background-color: aliceblue;
}
